body {
  background: #c6e7ff;
}

#text {
  margin-top: 10%;
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#counter {
  margin-top: 10px;
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
